:root{
    --blanco : white;
}

h1{
    text-align: center;
    font-size: 1.6rem;
}
.container  {
    display: flex;
    background-color: blue;
    margin-top: 5px;
}

.bg-light{
min-height: 200px;


}

.header_logo{
    width: 40%;
}
@media (max-width: 768px) {
    .header_logo{ 
              display: block;
              width: 60%;
              margin-left: 20%;              
    }
    .header{
        display: block;
    }
    .menu_enlace{
        display: block;
        text-align: center;        
    }
    .menu{
        display: block;
        width: 100%;        
    }
}
@media (max-width: 516px) {
    .header_logo{
        width: 70%;
    }
}
.menu{
    margin-top: 3%;
    text-align: center;
    width: 100%;
    
}
.menu_enlace{
        color: var(--blanco);
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 10px;
}

.menu_enlace:last-of-type {
    margin-left: none;
}
.menu_enlace--activo {
    color: white;
}
.carousel {
    margin-top: 5px;
  }

  #carousel{
    width: 550px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
  }
@media (max-width: 768px ) {
    #carousel{
        width: 100%;
        position: absolute;
      }
}

@media (max-width: 500px) {
    
        #carousel{
            width: 100%;
            position: absolute;            
          }
}

.containers {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn {
    margin-top: 30px;
  }

  .form-group label {
    font-weight: bold;
  }
  