{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
  <div class="container-sm">
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Producto 1</td>
              <td>$10000</td>
              <td><input type="number" value="1" min="1" class="form-control"></td>
              <td>$10000</td>
            </tr>
            <tr>
              <td>Producto 2</td>
              <td>$15000</td>
              <td><input type="number" value="1" min="1" class="form-control"></td>
              <td>$15000</td>
            </tr>
            <tr>
              <td>Producto 3</td>
              <td>$20000</td>
              <td><input type="number" value="1" min="1" class="form-control"></td>
              <td>$20000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Resumen del Pedido</h5>
            <table class="table">
              <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td>$45000</td>
                </tr>
                <tr>
                  <td>Envío</td>
                  <td>$0000</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>$45000</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary btn-block">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  
  