{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/carrito.css'%}">
<section class="contenedor">
  <!-- Contenedor de elementos -->
  <div class="contenedor-items">
      <div class="item">
          <span class="titulo-item">Alineacion y valanceo</span>
          <img src="{% static 'imagenes/imagen1.webp'%}" alt="a" class="img-item">
          <span class="precio-item">$32.000</span>
          <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
          <span class="titulo-item">Medicion y cambio de aceite</span>
          <img src="{% static 'imagenes/servicio2.jpg'%}" alt="" class="img-item">
          <span class="precio-item">$25.000</span>
          <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
          <span class="titulo-item">Escaner</span>
          <img src="{% static 'imagenes/servicio3.jpg'%}" alt="" class="img-item">
          <span class="precio-item">$40.000</span>
          <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
          <span class="titulo-item">Mantenimiento general</span>
          <img src="{% static 'imagenes/servicio4.jpg'%}" alt="" class="img-item">
          <span class="precio-item">$70.000</span>
          <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Aceite de motor</span>
        <img src="{% static 'imagenes/aceite.jpeg'%}" alt="" class="img-item">
        <span class="precio-item">$13.000</span>
        <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Liquido de freno</span>
        <img src="{% static 'imagenes/liquido.jpeg'%}" alt="" class="img-item">
        <span class="precio-item">$12.000</span>
        <button class="boton-item">Agregar al Carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Filtro de aceite</span>
        <img src="{% static 'imagenes/filtro.jpeg'%}" alt="" class="img-item">
        <span class="precio-item">$18.000</span>
        <button class="boton-item">Agregar al Carrito</button>
    </div>
    
  <div class="item">
    <span class="titulo-item">Agua desmineralizada</span>
    <img src="{% static 'imagenes/agua.jpeg'%}" alt="" class="img-item">
    <span class="precio-item">$3.500</span>
    <button class="boton-item">Agregar al Carrito</button>
  </div>
      
  </div>
  <!-- Carrito de Compras -->
  <div class="carrito" id="carrito">
      <div class="header-carrito">
          <h2>Tu Carrito</h2>
      </div>

      <div class="carrito-items">
      </div>
      <div class="carrito-total">
          <div class="fila">
              <strong>Tu Total</strong>
              <span class="carrito-precio-total">
                  $120.000,00
              </span>
          </div>
          <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
      </div>
  </div>
</section>

  <script src="{% static 'js/carrito.js'%}"></script>
{% endblock %}
  
  