{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Email</th>
      <th>Patente</th>
      <th>Teléfono</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.rut_cli }}</td>
        <td>{{ cliente.nom_cli }}</td>
        <td>{{ cliente.appater_cli }}</td>
        <td>{{ cliente.apmater_cli }}</td>
        <td>{{ cliente.email_cli }}</td>
        <td>{{ cliente.patente }}</td>
        <td>{{ cliente.fono_cli }}</td>
        <td>{{ cliente.direccion_cli }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Modificar Cliente</h2>
<form method="POST" action="{% url 'CrudTrabajos' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="rut_cli">Rut:</label>
    <select class="form-control" id="rut_cli" name="rut_cli">
      {% for cliente in clientes %}
        <option value="{{ cliente.rut_cli }}">{{ cliente.rut_cli }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="nom_cli">Nombre:</label>
    <input type="text" class="form-control" id="nom_cli" name="nom_cli" value="{{ cliente.nom_cli }}">
  </div>
  <div class="form-group">
    <label for="appater_cli">Apellido Paterno:</label>
    <input type="text" class="form-control" id="appater_cli" name="appater_cli" value="{{ cliente.appater_cli }}">
  </div>
  <div class="form-group">
    <label for="id_apmater_cli">Apellido Materno:</label>
    <input type="text" class="form-control" id="id_apmater_cli" name="apmater_cli" value="{{ cliente.apmater_cli }}">
  </div>
  <div class="form-group">
    <label for="id_email_cli">Email:</label>
    <input type="email" class="form-control" id="id_email_cli" name="email_cli" value="{{ cliente.email_cli }}">
  </div>
  <div class="form-group">
    <label for="id_patente">Patente:</label>
    <input type="text" class="form-control" id="id_patente" name="patente" value="{{ cliente.patente }}">
  </div>
  <div class="form-group">
    <label for="id_fono_cli">Teléfono:</label>
    <input type="text" class="form-control" id="id_fono_cli" name="fono_cli" value="{{ cliente.fono_cli }}">
  </div>
  <div class="form-group">
    <label for="id_direccion_cli">Dirección:</label>
    <input type="text" class="form-control" id="id_direccion_cli" name="direccion_cli" value="{{ cliente.direccion_cli }}">
  </div>
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>

{% endblock %}
