<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        $(document).ready(function() {
          $('#login-form').submit(function(event) {
            event.preventDefault();  // Evita el envío del formulario por defecto
      
            // Obtén los datos del formulario
            var username = $('#id_usuario').val();
            var password = $('#id_password').val();
      
            // Realiza la petición AJAX
            $.ajax({
              type: 'POST',
              url: '{% url "login" %}',  // Actualiza la URL según tu configuración de URLconf
              data: {
                'username': username,
                'password': password,
                'csrfmiddlewaretoken': '{{ csrf_token }}'  // Agrega el token CSRF
              },
              success: function(response) {
                // Procesa la respuesta del servidor
                if (response.success) {
                  // Inicio de sesión exitoso, redirige a la página deseada
                  window.location.href = '/admin/';  // Redirige al administrador de Django
                } else {
                  // Inicio de sesión fallido, muestra el mensaje de error
                  $('#error-message').text(response.error_message);
                }
              },
              error: function() {
                // Error en la petición AJAX
                alert('Ocurrió un error al procesar la solicitud.');
              }
            });
          });
        });
      </script>
</body>
</html>