{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
    
     <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <form method="POST" action="{% url 'login' %}">
             
              <h1 class="text-center mb-4">Iniciar sesión</h1>
              {% csrf_token %}
              {{% form.as_p %}}
              <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
              <a class="registrarse" href="{% url 'registro'%}">Registrarse</a>
            </form>            
          </div>
        </div>
      </div>
{% endblock%}

