{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
    
     <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            
            <form method="POST" action="{% url 'index' %}">
             
              <h1 class="text-center mb-4">Iniciar sesión</h1>
              {% csrf_token %}

              <div class="form-group">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" id="login-button"  class="btn btn-primary btn-block">Iniciar sesión</button>
              {{ form.as_p }}
            
              <a class="registrarse" href="{% url 'registro'%}">Registrarse</a>
            </form>
            
            
          </div>
        </div>
      </div>

      
{% endblock%}

