{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../static/imagenes/meca1.jpg" width="50%" height="auto" alt="Foto de Eliseo Cuevas">
      <div class="card-body">
        <h3 class="card-title">Eliseo Cuevas</h3>
        <h5 class="card-subtitle mb-2 text-muted">Mecánico</h5>
        <p class="card-text">Eliseo ss un mecánico con 6 años de experiencia y especializado en Suspensión y Dirección, sobresaliente en su generacion lo que sumado a su experiencia laboral hacen de Valentin una promesa de la mecánica automotriz</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Edad:</strong> 27 años</li>          
          <li class="list-group-item"><strong>Dirección:</strong> Calle 123, Santiago</li>
          <li class="list-group-item"><strong>Teléfono:</strong> (569) 4565-7890</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock%}