{% extends 'rayo/base.html' %}

{% load static %}
{% block content %}
<div class="containers">
    <h1>Formulario para subir Trabajos Realizados</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{formulario.as_table}}       
            <textarea name="texto" tipe="file" rows="1" cols="10"></textarea>
            <br>
            <input type="file" name="archivo">
            <br>
            <button type="submit" class="btn btn-primary" name="subirArchivobtn">Subir Archivo</button>

    </form>
</div>
{% endblock%} 